<div class="container">

  <div class="row">
    <div class="col-xs-6 dark-header">
      <%=  image_tag("logo.svg", size: "256x128") %>
    </div>
    <div class="col-xs-6">
      <span class="cv-letters">CV</span><br/>
      <span class="title"><%= cv["title"] %></span>
    </div>
  </div>
</div>