.dark-header {
  background: #1C355B;
}
.dark-side {
  background: linear-gradient(#1C355B, #225D91, #1C355B);
}

.cv-letters {
  color: #78ADDC;
  font-size: 2.25em;
  font-weight: 300;
}

.title {
  font-weight: 700;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}